###############################################################################
# Based on configuration file for dcm4che 1.4.0 sample: dcmsnd.cfg revision date 2005-08-25
# Version: 2006-06-23
###############################################################################

# Time-out waiting [in msec] for A-ASSOCIATE-AC acknowlage, 0 is interpreted as an infinite timeout [default=5000].
ac-timeout = 10000

# Time-out waiting [in msec] for DIMSE on open association, 0 is interpreted as an infinite timeout [default=0]
dimse-timeout = 0

# Time delay [in msec] for socket close after sending A-ABORT [default=500]
so-close-delay = 500

# Activates packing of command PDV (Presentation Data Value) + (first) data PDV into one P-DATA-TF PDU (Protocol Data Unit)
pack-pdvs = false

# Message priority. Possible values low = 2, medium = 0, high = 1
prior = 0

# Maximal length of receiving PDUs (Protocol Data Unit) [default=16352]
max-pdu-len = 16352

# Maximal number of invoked operations with outstanding response.
max-op-invoked = 0


#>>>>> TLS: private key and certified-public key >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# File reference of the container of the private key and certified-public key.
# For details see the API documentation of the method CDimseService.initTLS
# PKCS #12 or JKS (Java Keystore) containers may be use. Keys must be RSA encoded
# Two forms are possible:
# 1. Absolute reference (file:/C:/a/b/c.txt): The reference is taken as is.
# 2. Relative reference (b/c.txt): The referece is relative to the package of the class CDimseService
#tls-key = file:/c:/tmp/identity.p12
#tls-key = resources/identity.p12

# Password of the keystore containing the private key
#tls-keystore-passwd = secret

# Password of the private key in the keystore 
#tls-key-passwd = secret

#>>>>> TLS: root-certificates of Certifying Authorities >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# File reference of the container of the root-certificates of the Certifying Authorities
# For details see the API documentation of the method CDimseService.initTLS
# PKCS #12 or JKS (Java Keystore) containers may be use. Keys must be RSA encoded
# Two forms are possible:
# 1. Absolute reference (file:/C:/a/b/c.txt): The reference is taken as is.
# 2. Relative reference (b/c.txt): The referece is relative to the package of the class CDimseService
#tls-cacerts = file:/c:/tmp/cacerts.jks
#tls-cacerts = resources/cacerts.jks

# Password of the keystore containing the root-certificates
#tls-cacerts-passwd = secret


#>>>>> Specific C-FIND >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# Specifies Key Attributes used for matching in C-FIND
# Special Key Attributes "QueryRetrieveLevel":
# Defines the query/retrieve level. Possible values are "STUDY", "SERIES", "IMAGE"
# See PS 3.4 - C.6.2 Study Root SOP Class Group
key.QueryRetrieveLevel = SERIES

key.PatientName = 
key.PatientSex =
key.PatientBirthDate =
key.StudyDescription = 
key.StudyDate = 
key.ReferringPhysicianName =
key.SeriesNumber =
key.SeriesInstanceUID =
key.NumberOfSeriesRelatedInstances =
key.SeriesDescription = 
key.Modality = 
key.StudyID = 

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>> Specific C-MOVE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# Application Entity Title (AET) of the destination for the C-MOVE
#dest = MOVE_DESTINATION

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


#>>>>> Presesentation Context >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# Macrodefinition of transfer syntaces

ts-native=ExplicitVRLittleEndian,ImplicitVRLittleEndian


# Available transfer syntaces for storage SOP classes
# PS 3.4 - Annex B STORAGE SERVICE CLASS
# PS 3.4 - B.5 STANDARD SOP CLASSES
# Syntax: pc.n = sop_uid,transfer_syntax[,transfer_syntax]
# with n = presentation context ID (a for the association unique odd number between 1 and 255)
# with sop_uid = symbolic name of the UID of the SOP to transmit
# with transfer_syntax = supportet transfer syntax for that SOP


#>>>>> Presesentation Context for C-STORE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# pc.1=HardcopyGrayscaleImageStorage,$ts-native
# pc.3=HardcopyColorImageStorage,$ts-native
# pc.5=ComputedRadiographyImageStorage,$ts-native
# pc.7=DigitalXRayImageStorageForPresentation,$ts-native
# pc.9=DigitalXRayImageStorageForProcessing,$ts-native
# pc.11=DigitalMammographyXRayImageStorageForPresentation,$ts-native
# pc.13=DigitalMammographyXRayImageStorageForProcessing,$ts-native
# pc.15=DigitalIntraoralXRayImageStorageForPresentation,$ts-native
# pc.17=DigitalIntraoralXRayImageStorageForProcessing,$ts-native
# pc.19=CTImageStorage,$ts-native
# pc.21=UltrasoundMultiframeImageStorageRetired,$ts-native
# pc.23=UltrasoundMultiframeImageStorage,$ts-native
# pc.25=MRImageStorage,$ts-native
# pc.27=EnhancedMRImageStorage,$ts-native
# pc.29=NuclearMedicineImageStorageRetired,$ts-native
# pc.31=UltrasoundImageStorageRetired,$ts-native
# pc.33=UltrasoundImageStorage,$ts-native
# pc.35=SecondaryCaptureImageStorage,$ts-native
# pc.37=MultiframeSingleBitSecondaryCaptureImageStorage,$ts-native
# pc.39=MultiframeGrayscaleByteSecondaryCaptureImageStorage,$ts-native
# pc.41=MultiframeGrayscaleWordSecondaryCaptureImageStorage,$ts-native
# pc.43=MultiframeColorSecondaryCaptureImageStorage,$ts-native
# pc.45=XRayAngiographicImageStorage,$ts-native
# pc.47=XRayRadiofluoroscopicImageStorage,$ts-native
# pc.49=XRayAngiographicBiPlaneImageStorageRetired,$ts-native
# pc.51=NuclearMedicineImageStorage,$ts-native
# pc.53=VLImageStorageRetired,$ts-native
# pc.55=VLMultiframeImageStorageRetired,$ts-native
# pc.57=VLEndoscopicImageStorage,$ts-native
# pc.59=VLMicroscopicImageStorage,$ts-native
# pc.61=VLSlideCoordinatesMicroscopicImageStorage,$ts-native
# pc.63=VLPhotographicImageStorage,$ts-native
# pc.65=PositronEmissionTomographyImageStorage,$ts-native
# pc.67=RTImageStorage,$ts-native
# pc.69=BasicTextSR,$ts-native
# pc.71=EnhancedSR,$ts-native
# pc.73=ComprehensiveSR,$ts-native
# pc.75=MammographyCADSR,$ts-native
# pc.77=GrayscaleSoftcopyPresentationStateStorage,$ts-native
# pc.79=KeyObjectSelectionDocument,$ts-native
# pc.81=RTDoseStorage,$ts-native
# pc.83=RTStructureSetStorage,$ts-native
# pc.85=RTBeamsTreatmentRecordStorage,$ts-native
# pc.87=RTPlanStorage,$ts-native
# pc.89=RTBrachyTreatmentRecordStorage,$ts-native
# pc.91=RTTreatmentSummaryRecordStorage,$ts-native
# pc.93=RawDataStorage,$ts-native

# pc.95=ComputedRadiographyImageStorage,JPEGLossless
# pc.97=DigitalXRayImageStorageForPresentation,JPEGLossless
# pc.99=DigitalXRayImageStorageForProcessing,JPEGLossless
# pc.101=DigitalMammographyXRayImageStorageForPresentation,JPEGLossless
# pc.103=DigitalMammographyXRayImageStorageForProcessing,JPEGLossless
# pc.105=DigitalIntraoralXRayImageStorageForPresentation,JPEGLossless
# pc.107=DigitalIntraoralXRayImageStorageForProcessing,JPEGLossless
# pc.109=CTImageStorage,JPEGLossless
# pc.111=UltrasoundMultiframeImageStorage,JPEGLossless
# pc.113=MRImageStorage,JPEGLossless
# pc.115=EnhancedMRImageStorage,JPEGLossless
# pc.117=UltrasoundImageStorage,JPEGLossless
# pc.119=SecondaryCaptureImageStorage,JPEGLossless
# pc.121=MultiframeGrayscaleByteSecondaryCaptureImageStorage,JPEGLossless
# pc.123=MultiframeGrayscaleWordSecondaryCaptureImageStorage,JPEGLossless
# pc.125=MultiframeColorSecondaryCaptureImageStorage,JPEGLossless
# pc.127=XRayAngiographicImageStorage,JPEGLossless
# pc.129=XRayRadiofluoroscopicImageStorage,JPEGLossless
# pc.131=NuclearMedicineImageStorage,JPEGLossless
# pc.133=VLEndoscopicImageStorage,JPEGLossless
# pc.135=VLMicroscopicImageStorage,JPEGLossless
# pc.137=VLSlideCoordinatesMicroscopicImageStorage,JPEGLossless
# pc.139=VLPhotographicImageStorage,JPEGLossless
# pc.141=PositronEmissionTomographyImageStorage,JPEGLossless
# pc.143=RTImageStorage,JPEGLossless

# pc.145=UltrasoundMultiframeImageStorage,JPEGBaseline
# pc.147=UltrasoundImageStorage,JPEGBaseline
# pc.149=SecondaryCaptureImageStorage,JPEGBaseline
# pc.151=MultiframeGrayscaleByteSecondaryCaptureImageStorage,JPEGBaseline
# pc.153=MultiframeColorSecondaryCaptureImageStorage,JPEGBaseline
# pc.155=XRayAngiographicImageStorage,JPEGBaseline

# pc.157=ComputedRadiographyImageStorage,JPEGExtended
# pc.159=CTImageStorage,JPEGExtended
# pc.161=MRImageStorage,JPEGExtended
# pc.163=SecondaryCaptureImageStorage,JPEGExtended

# pc.165=ComputedRadiographyImageStorage,JPEGLSLossy
# pc.167=CTImageStorage,JPEGLSLossy
# pc.169=UltrasoundMultiframeImageStorage,JPEGLSLossy
# pc.171=MRImageStorage,JPEGLSLossy
# pc.173=UltrasoundImageStorage,JPEGLSLossy
# pc.175=SecondaryCaptureImageStorage,JPEGLSLossy

# pc.177=ComputedRadiographyImageStorage,JPEG2000Lossy
# pc.179=CTImageStorage,JPEG2000Lossy
# pc.181=UltrasoundMultiframeImageStorage,JPEG2000Lossy
# pc.183=MRImageStorage,JPEG2000Lossy
# pc.185=UltrasoundImageStorage,JPEG2000Lossy
# pc.187=SecondaryCaptureImageStorage,JPEG2000Lossy

# pc.189=ComputedRadiographyImageStorage,JPEGLSLossless
# pc.191=CTImageStorage,JPEGLSLossless
# pc.193=UltrasoundMultiframeImageStorage,JPEGLSLossless
# pc.195=MRImageStorage,JPEGLSLossless
# pc.197=UltrasoundImageStorage,JPEGLSLossless
# pc.199=SecondaryCaptureImageStorage,JPEGLSLossless

# pc.201=ComputedRadiographyImageStorage,JPEG2000Lossless
# pc.203=CTImageStorage,JPEG2000Lossless
# pc.205=UltrasoundMultiframeImageStorage,JPEG2000Lossless
# pc.207=MRImageStorage,JPEG2000Lossless
# pc.209=UltrasoundImageStorage,JPEG2000Lossless
# pc.211=SecondaryCaptureImageStorage,JPEG2000Lossless

# pc.213=ComputedRadiographyImageStorage,RLELossless
# pc.215=CTImageStorage,RLELossless
# pc.217=UltrasoundMultiframeImageStorage,RLELossless
# pc.219=MRImageStorage,RLELossless
# pc.221=UltrasoundImageStorage,RLELossless
# pc.223=SecondaryCaptureImageStorage,RLELossless

# pc.225=VideoEndoscopicImageStorage,MPEG2
# pc.227=VideoMicroscopicImageStorage,MPEG2
# pc.229=VideoPhotographicImageStorage,MPEG2

# pc.231=AmbulatoryECGWaveformStorage,$ts-native
# pc.233=BasicVoiceAudioWaveformStorage,$ts-native
# pc.235=CardiacElectrophysiologyWaveformStorage,$ts-native
# pc.237=GeneralECGWaveformStorage,$ts-native
# pc.239=HemodynamicWaveformStorage,$ts-native
# pc.241=TwelveLeadECGWaveformStorage,$ts-native

# pc.243=HangingProtocolStorage,$ts-native
# pc.245=EncapsulatedPDFStorage,$ts-native

# pc.247=BasicStudyContentNotification,$ts-native


#>>>>> Presesentation Context for C-FIND >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

pc.251=StudyRootQueryRetrieveInformationModelFIND,$ts-native


#>>>>> Presesentation Context for C-MOVE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# pc.253=StudyRootQueryRetrieveInformationModelMOVE,$ts-native


#>>>>> Presesentation Context for C-ECHO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# pc.255=Verification,ImplicitVRLittleEndian
